h1{
    font-size: 42px;
    color: #F84040;
    margin-bottom: 0px;
    font-family: courier;
    text-align: center;
    text-decoration: underline;
}
p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: cursive;
    text-align: center;
}
.alpha{
    font-style:italic
}
.beta{
    font-style: oblique;
}
.gamma{
    font-style: italic;
}
.delta{
    font-style: oblique;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius:10%;
    box-shadow: 0 0 20px gray;
}
body{
    background-image: linear-gradient(white, #B3FFF2);
}